div {
  height: 200px;
  width: 200px;
}
.board {
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
}
#red {
  background-color: red;
}
#yellow {
  background-color: yellow;
}
#blue {
  background-color: blue;
}
#green {
  background-color: green;
}
@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.blink {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}
.blink2 {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}
